<div class="mb-5">
    <app-menu></app-menu>
</div>
<main class="row p-5" style="margin: 100px;">
    <p-card>
        <header>
            <h4 style="color:#1d736a !important;">Actividad</h4>
        </header>
        <ng-template pTemplate="content">
            <hr>
            <div class="row">
                <div class="col-7">
                    <app-grafico-barras></app-grafico-barras>
                </div>
                <div class="col-1"></div>
                <div class="col-4 align-self-center">
                    <app-donut></app-donut>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer"> 
                <p> <span>Última actividad: Ciclismo </span> <span> Tiempo: 01:24:54 </span> <span>Calorías quemadas: 452cal</span></p>
                <p> <span>Media: 138ppm </span> <span>Máxima: 162ppm</span> </p>
                <button class="boton mt-2" styleClass="p-button-sm " type="button" pButton pRipple label="Añadir datos"></button>  
        </ng-template>
    </p-card>
</main>
