<app-menu></app-menu>

<div class="container d-flex align-items-center justify-content-center">
  <div class="wrapper-calendar">
    <div class="header-calendar">
      <div>
        <button (click)="changeMonth(-1)" class="btn-prev"><i class="bi bi-arrow-left-square" style="font-size: 2rem; color: #1d736a;"></i></button>
      </div>
      <h1>{{ dateSelect | date: "MMMM, yyyy" }}</h1>
      <div>
        <button (click)="changeMonth(1)" class="btn-next">
          <i class="bi bi-arrow-right-square" style="font-size: 2rem; color: #1d736a;"></i>
        </button>
      </div>
    </div>
    <ol>
      <li *ngFor="let day of week" class="day-name">
        {{ day | slice: 0:3 }}
      </li>

      <li
        (click)="clickDay(day)"
        class="dias"
        [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
        *ngFor="let day of monthSelect; let first = first"
      >
        <span>{{ day?.value }}</span>
      </li>
    </ol>
  </div>
</div>
<!-- <p-dialog  [(visible)]="mostrarDatos"
  [modal]="true" [maximizable]="true" [style]="{width: '50vw', height:'100vh'}">
    <p-table  styleClass="p-datatable-striped" responsiveLayout="scroll">


      <ng-template pTemplate="header">


      </ng-template>
      <ng-template pTemplate="body">

      </ng-template>
    </p-table>


</p-dialog> -->
