<app-menu></app-menu>
<main class="row" style="margin: 150px;">
    
    <div class="col"></div>
    <div class="col-lg-8 col-md-12">
        <p-card>
            <div class="row">
                <div class="col-2">
                    <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge"></p-avatar>
                    <p style="font-size:10px; margin-top: 0.2rem;">G552X / F508D</p>
                </div>
                <div class="col-10">
                    <h4 class="text-start">Pedro Consuegra Mateo</h4>
                    <h6 class="text-start">Médico al cargo: Jesucristo</h6>
                </div>
            </div>
            <div class="row">
                <div>
                    <p style="font-size:15px; margin-left: 5rem;font-weight:400"><span style="font-weight: 600;">Nombre de Usuario:</span> pedroConsuegra</p>
                    <p style="font-size:15px; margin-left: 5rem;font-weight:400"><span style="font-weight: 600;">DNI:</span> 012345678A</p>
                    <p style="font-size:15px; margin-left: 5rem;font-weight:400"><span><span style="font-weight: 600;">Género</span> M</span><span style="margin-left:10px;"><span style="font-weight: 600;">Peso:</span> 63kg</span><span style="margin-left:10px;"><span style="font-weight: 600;">Altura:</span> 1.69m</span></p>
                    <p style="font-size:15px; margin-left: 5rem;font-weight:400"><span style="font-weight: 600;">Email:</span> pedro@paciente.com</p>
                    <button class="boton mt-2" style="margin-left: 5rem;" styleClass="p-button-outlined" type="button" pButton pRipple label="Modificar"></button>
                    <button class="boton-delete mt-2" style="margin-left: 1rem;" styleClass="p-button-outlined-danger" type="button" pButton pRipple label="Dar de baja usuario"></button>
                </div>

            </div>
        </p-card>
    </div>
    <div class="col"></div>
</main>