<h1>glicada works!</h1>
<div>
    <code>{{listaGlicadas | json }}</code>
    
</div>
<div>
    <button type= "button" pButton (click)="obtenerGlicadaById(1)" label="Por Id">Por Id</button>
    <button type= "button" pButton (click)="obtenerGlicadaByDni('012345678M')" label="Por Dni">Por Dni</button>
    <button type= "button" pButton (click)="obtenerGlicadaByDniFecha('012345678M', '2020-03-03')" label="Por Dni">Por Dni y Fecha</button>
    <button type= "button" pButton (click)="obtenerGlicadaByFechas(('2020-03-02').f, Date.parse('2020-03-03'))" label="Por Dni">Por Dni y Fecha</button>
</div>

