<div>
    <app-menu></app-menu>
</div>

<main class="row" style="margin: 150px;">
    
    <div class="col"></div>
    <div class="col-lg-8 col-md-12">
        <p-card>
            <p-tabView>
                <p-tabPanel header="Tratamiento">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ut voluptatem ab accusamus nostrum alias maiores earum distinctio minus dolore! Perspiciatis voluptate fuga ab exercitationem, sunt consequatur quos necessitatibus ratione?</p>
                   <button class="boton mt-2" styleClass="p-button-sm " type="button" pButton pRipple label="Añadir nueva medicación"></button>  
                </p-tabPanel>
                <p-tabPanel header="Eventos">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ut voluptatem ab accusamus nostrum alias maiores earum distinctio minus dolore! Perspiciatis voluptate fuga ab exercitationem, sunt consequatur quos necessitatibus ratione?</p>
                    <button class="boton mt-2" styleClass="p-button-sm " type="button" pButton pRipple label="Nuevo evento"></button>  
                </p-tabPanel>
                <p-tabPanel header="Historia">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ut voluptatem ab accusamus nostrum alias maiores earum distinctio minus dolore! Perspiciatis voluptate fuga ab exercitationem, sunt consequatur quos necessitatibus ratione?</p>
                    <button class="boton mt-2" styleClass="p-button-sm " type="button" pButton pRipple label="Añadir datos"></button>  
                </p-tabPanel>
                <p-tabPanel header="Analíticas">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ut voluptatem ab accusamus nostrum alias maiores earum distinctio minus dolore! Perspiciatis voluptate fuga ab exercitationem, sunt consequatur quos necessitatibus ratione?</p>
                    <button class="boton mt-2" styleClass="p-button-sm " type="button" pButton pRipple label="Añadir datos"></button>  
                </p-tabPanel>
            </p-tabView>
        </p-card>
    </div>
    <div class="col"></div>
</main>