<app-menu></app-menu>
<div class="container principal">
  <div class="row">

        <div class="col">
            <app-tarjeta-respiratorio></app-tarjeta-respiratorio>
        </div>
        <div class="col">
            <app-tarjeta-actividad></app-tarjeta-actividad>
        </div>
        <div class="col">
            <app-tarjeta-resumen></app-tarjeta-resumen>
        </div>

  </div>
</div>

<!--
    <div class="container mt-5">
        <div class="row">
            <div class="col"><app-tarjeta-respiratorio></app-tarjeta-respiratorio></div>
            <div class="col"><app-tarjeta-actividad></app-tarjeta-actividad></div>
            <div class="col"><app-tarjeta-resumen></app-tarjeta-resumen></div>
        </div>
    </div>
-->
