<p-card>
    <header>
        <h4 style="color:#1d736a !important;">Datos Respiratorios</h4>
    </header>
    <div style="height: 250px" class="row">
        <div class="col-7">
            <div style="height:275px; background-color: #7de4e96c;"></div>
        </div>
        <div class="col"></div>
        <div class="col-4">
            <ul class="list-group">
                <li style="background-color:#fe9f4125; color:#1d736a;" class="list-group-item">FVC: 3.52L</li>
                <li style="background-color:#fe9f4125; color:#1d736a;" class="list-group-item">FEV1: 3.06L</li>
                <li style="background-color:#fe9f4125; color:#1d736a;" class="list-group-item">Sat Basal: 98%</li>
                <li style="background-color:#fe9f4125; color:#1d736a;" class="list-group-item">Capacidad Aeróbica: 45</li>
                <li style="background-color:#fe9f4125; color:#1d736a;" class="list-group-item">Último antibiótico: 22-04-21 (Septrim)</li>
              </ul>
              
            <button class="boton float-end mt-2" styleClass="p-button-sm " type="button" pButton pRipple label="Añadir datos"></button>
        </div>
    </div>   
</p-card>
