<div class="mb-5">
    <app-menu></app-menu>
</div>
<main class="row p-5" style="margin: 100px;">
  <p-card>
      <header>
          <h4 style="color:#1d736a !important;">Datos Respiratorios</h4>
      </header>
      <ng-template pTemplate="content">
          <hr>
          <div class="row">
              <div class="col-3">
                  <hr>
                  <div style="height: 75px;"></div>
                  <ul>
                      <li class="list-group-item">FVC: 3.52L</li>
                      <li class="list-group-item">FEV1: 3.06L</li>
                      <li class="list-group-item">Sat Basal: 98%</li>
                      <li class="list-group-item">Capacidad Aeróbica: 45</li>
                      <li class="list-group-item">Último antibiótico: 22-04-21 (Septrim)</li>
                  </ul>
              </div>
              <div class="col-9">
                  <app-grafico></app-grafico>
              </div>
          </div>
      </ng-template>
      <ng-template pTemplate="footer">  
              <button class="boton mt-2" styleClass="p-button-sm " type="button" pButton pRipple label="Añadir datos"></button>
      </ng-template>
  </p-card>
</main>