.p-megamenu{
    background: transparent;
    border: 0px;
    border-radius: 0;
}
.p-menuitem-icon{
    color: #1d736a !important;
}

.p-menuitem-text{
    color: #1d736a !important;
}

body{
    background-color: #7de4e96f;
}