<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */

body
 {
  background: url(./assets/images/background.png) no-repeat center center fixed;

    background-size: cover;
 }
=======
.p-megamenu{
    background: transparent;
    border: 0px;
    border-radius: 0;
}
.p-menuitem-icon{
    color: #1d736a !important;
}

.p-menuitem-text{
    color: #1d736a !important;
}

.p-button-text{
    color:#1d736a !important;
}

body{
    background-color: #fe9f411c;
}
>>>>>>> e0a72135a2a14678f403d5f0764558bc1cbed4df
